.container {
  width: 80%;
  height: 100vh;
  background-color: rgba(24, 24, 24, 1);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 3rem;
  box-sizing: border-box;
  color: #dbdbdb;
}
