.form {
  font-size: 0.8rem;
  display: flex;
  gap: 0.25rem;
  width: 50%;
  justify-content: center;

  input {
    all: unset;
    padding: 0.25rem 0.5rem;
    width: 50%;
    border-radius: 0.25rem;
    outline: none;
    background-color: #161618;
    border: 1px solid rgba(219, 219, 219, 0.8);
  }

  select {
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    outline: none;
    background-color: #161618;
    color: white;
    border: 1px solid rgba(219, 219, 219, 0.8);
    user-select: none;
    width: 20%;
    cursor: pointer;
  }

  button {
    all: unset;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: #161618;
    border: 1px solid rgba(219, 219, 219, 0.8);
    cursor: pointer;
    user-select: none;
    width: 10%;
    display: flex;
    justify-content: center;
  }

  .error {
    color: red;
    align-self: center;
    background-color: black;
    padding: 0.3rem 0.2rem;
    height: 100%;
    border-radius: 0.25rem;
    font-size: 12px;
    opacity: 0.9;
  }

  .btn {
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}
